*{
    background-color:antiquewhite;
}
h2{
    display: inline;
}
h3{
    display: inline;
}
ul{
    font-size: 2rem;
    list-style-type: circle;
}
.TS{
    text-align: left;
    align-items: left;
    padding: 1rem;
}
